
  <% @hotels.each do |hotel| %>
      <strong> <%=link_to hotel.title, hotel %>  </strong> <br/>
      <%= image_tag hotel.image_url.to_s, :size => '75x75' %>
        <%= truncate(strip_tags(hotel.room_description), :length => 80)  %>
      <p class="text-error"><%= sprintf("$%0.02f", hotel.price) %></p>
       Added by: <%=link_to hotel.user.name, hotel.user %> <br/>
      Created: <%= (hotel.created_at.strftime('%F, %H:%M ')) %>
      <% if current_user?(hotel.user) %>  <br/>
      <%= link_to "Delete", hotel, method: :delete,
                  data: { confirm: "You sure?" } %>
              <% end %>
      <hr/>
<% end %>



