
<% @hotels.each do |hotel| %>

    <strong> <%=link_to hotel.title, hotel %>  </strong> <br/>

    <%=image_tag hotel.image_url.to_s, :size => '80x80', :class => "img" %>
    <div id="price"><p class="text-error">Price: <%= sprintf("$%0.02f", hotel.price) %></p></div>
    <div class="line">
      <p>
        Added: <%= (hotel.created_at.strftime('%F, %H:%M ')) %> |
        By: <%=link_to hotel.user.name, hotel.user %> |
        Rating: <%= hotel.average_rating.to_f %> |
        Comments: <%= hotel.comment.count %>
      <div class="delete_index">
        <% if current_user?(hotel.user) %>
            <%= link_to "Delete", hotel, method: :delete,
                        data: { confirm: "You sure?" } %>
        <% end %>
      </div>
    </div>
    <hr/>
<% end %>



