<h3>Edit hotel</h3>
<%= form_for @hotel, :html =>{:multipart => true} do |f| %>

    <%= f.label :title  %>
    <%= f.text_field :title %>

    <%= f.label :room_description %>
    <%= f.text_area :room_description, rows: 4 %>

    <%= f.label :price  %>
    <%= f.text_field :price %>

    <%= f.label :breackfast %>
    <%= f.select :breackfast, Hotel::HOTEL_BREACKFAST %>

    <%= f.label :image %>
    <%= f.file_field :image %>

    <div class="center">
      <p class="text-info">Add address hotel</p>
    </div>

    <%= f.fields_for :address_attributes do |address| %>
        <%=address.label :country  %>
        <%=address.text_field :country  %>
        <%=address.label :city  %>
        <%=address.text_field :city  %>
        <%=address.label :state  %>
        <%=address.text_field :state %>
        <%=address.label :street  %>
        <%=address.text_field :street  %>
    <% end %>
    <br/>
    <%= f.submit "Update Hotel", class: "btn btn-primary" %>
<% end %>