
<% if current_user?(@hotel.user) %>
    <%= link_to 'Change hotel', edit_hotel_path %>
<% end %>
<h3><%= @hotel.title %></h3>
<%= image_tag @hotel.image_url.to_s, :size => '150x150', :class=>"img" %>
<dl>
  <dt>Price:</dt>
  <dd><p class="text-error"><%= sprintf("$%0.02f", @hotel.price) %></p></dd>
</dl>
<dl>
  <dt>Breackfast:</dt>
  <dd><%= @hotel.breackfast  %></dd>
</dl>
<dl>
  <dt>Description:</dt>
  <dd><%= @hotel.room_description %></dd>
</dl>

<div class="rating">
  <% if !signed_in? or @hotel.voted_user?(@current_user) %>
      <p class="text-info"> You have already rated this hotel </p>
      <p class="text-error"> Average rating: <%= @hotel.average_rating %> </p>
  <% else %>
      <div id="stars">
        Add your vote:
        <% (1..5).each do |i| %>
            <%= radio_button_tag "rate_for_#{@hotel.id}", i, false, :class => 'rating_radio' %><%= i %>
        <% end %>
      </div>
  <% end %>

</div>
<div class="address">
  <address>
    Hotel address:<br/>
    <strong><%= @hotel.country %></strong><br>
    <%= @hotel.city %><br>
    <%= @hotel.state %><br>
    <abbr title="Street"><%= @hotel.street %></abbr>
  </address>
</div>
<hr/>
<h5>Add your comments:</h5>
<%= render 'shared/comments' %>
<%= render 'shared/form_comment' %>
