

<div class="float_right">
  <%= link_to "Home", page_path %>
<% if signed_in? %>
      <%= link_to "Profile", current_user %>
      <%= link_to "Settings", edit_user_path(current_user) %>
      <%= link_to "Sign out", signout_path, method: "delete" %>
    <% else %>
      <%= link_to "Sign up", signup_path %>
      <%= link_to "Sign in", signin_path %>
    <% end %>
</div>
<hr/>
